*{
    padding: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: normal;
    -webkit-user-select: none;
    user-select: none;
}
body{
    background: linear-gradient(200deg, black, black, black, black, white, black, black, black, black, black, black, black, black, white, black, black, black, black);
    background-attachment: fixed;
}
body::-webkit-scrollbar{
    background: #111;
}
body::-webkit-scrollbar-thumb{
    background: rgb(166, 129, 27);
    border-radius: 10px;
}
img{
    pointer-events: none;
}
h2, p{
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #000, 1px 1px 1px #000;
}
li:nth-child(1) > a{
    color: #ffcc67;
}
/* -------------- SECTION 1 -------------- */
#section1{
    background-image: url('../Images/backImage2.jpg');
    background-size: 100% 100%;
}
.containWrapper1{
    display: flex;
}
#image-container, #profile-container{
    width: 50%;
    height: 580px;
    color: #fff;
}
#profile-container{
    padding: 200px 200px 150px 50px;
    box-sizing: border-box;
    text-align: center;
}
#profile-container > h2, #profile-container span, #section2 h1, footer{
    font-size: 20px;
}
#profile-container span, #section2 > h1 > span{
    color: rgb(27, 145, 255);
}
#image-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* -------------- SECTION 2 -------------- */
#section2{
    text-align: center;
    background: #0a0a0a;
    margin: 2px 0;
}
#section2 h1{
    padding: 50px 0;
    color: #fff;
    background-image: url('../Images/signUp.jpg');
    border-top: 2px solid #711;
}
#project-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 100px 50px;
}
#project-wrapper > div{
    padding: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    transition: box-shadow 0.2s, transform 1s ease-in-out;
    background-image: url('../Images/signUp.jpg');
    color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}
#project-wrapper > div:nth-child(1){
    box-shadow: 0 0 20px rgb(27, 99, 255);
}
#project-wrapper > div:nth-child(2){
    box-shadow: 0 0 20px rgb(0, 205, 0);
}
#project-wrapper > div:nth-child(3){
    box-shadow: 0 0 20px rgb(238, 128, 255);
}
#project-wrapper > div:nth-child(4){
    box-shadow: 0 0 20px rgb(255, 191, 0);
}
#project-wrapper > div:hover{
    box-shadow: 0 0 20px rgb(255, 0, 0);
}
#project-wrapper > div:hover > img{
    transform: rotateZ(20deg);
}
#project-wrapper img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.5s;
}
#project-wrapper > div:nth-child(1) span{
    color: rgb(30, 135, 255);
}
#project-wrapper > div:nth-child(2) span{
    color: rgb(82, 205, 73);
}
#project-wrapper > div:nth-child(3) span{
    color: rgb(238, 128, 255);
}
#project-wrapper > div:nth-child(4) span{
    color: rgb(235, 208, 74);
}
#project-wrapper button{
    background: rgba(235, 208, 74, 0.6);
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#item1Wrapper > button{
    background: rgb(34, 104, 255);
}
#item2Wrapper > button{
    background: rgb(58, 175, 50);
}
#item3Wrapper > button{
    background: rgb(204, 86, 223);
}
#item4Wrapper > button{
    background: rgb(189, 157, 0);
}
#project-wrapper button:hover{
    filter: brightness(150%);
}
/* -------------- FOTTER -------------- */
footer{
    background: #000;
    border-top: 2px solid #711;
    border-bottom: 30px solid #711;
    padding: 150px 50px;
    text-align: center;
}
footer > div{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
footer i{
    margin: 5px;
}
footer a{
    text-decoration: none;
}
footer i, footer a, footer p{
    color: rgb(174, 161, 96);
}
/* -------------- MEDIA QUERY -------------- */
@media only screen and (max-width: 920px){
    .containWrapper1{
        flex-direction: column;
    }
    #image-container, #profile-container{
        width: 100%;
    }
    #profile-container{
        background: #222;
        padding: 50px;
        height: unset;
        border-top: 2px solid #711;
    }
    #project-wrapper{
        padding: 50px 0;
        gap: 30px;
    }
    #project-wrapper > div{
        width: 40%;
    }
    #project-wrapper img{
        width: 100px;
        height: 100px;
    }
    #project-wrapper p{
        max-height: 50px;
        overflow-y: scroll;
    }
}